<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>English-N-Beyond </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
       <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
       
        


    </head>
    <body>
        
     
       
    <header>
        <img src="{{ url_for('static', filename='Logo.jpg') }}" alt="English-N-Beyond" height="200">
        
       <nav class="pink-bar">
            <ul>
                <li><a href="/about">📝 About</a></li>
                <li><a href="/contact">📞 Contact</a></li>
            </ul>
        </nav>
  

         <h1 class="animated-heading">Welcome to English-N-Beyond</h1>
         <p class="animated-subheading">Learning English, Growing Beyond</p>
         


     </header>
     
        
    <footer>
           <p>&copy; 2025 English-N-Beyond. All rights reserved. Creator: Sanjana Chakraborty</p>
    </footer>


     
    
    
    
</body>
</html>